body {
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}

.colored {
    color: rgb(226, 7, 7);
}

h1 {
    font-size: 50px;
}

.button {
    padding: 10px 40px;
    background-image: linear-gradient(to right, #D51E24, #EB6076);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.flexible-container {
    display: flex;
}

#about-area {
    background-image: url(images/shapes/Group\ 8447.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#second-background {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.middle {
    text-align: center;
    padding-bottom: 40px;
    width: 80%;
    padding-left: 10%;
}

.all-boxes {
    display: flex;
}

#recipis-field {
    margin: 5% 0;
}

.box img {
    display: block;
    height: 220px;
    border-radius: 10px;
}

.box {
    width: 33%;
    margin: 0 25px;
    padding: 25px;
    box-shadow: 5px 4px 20px dimgray;
    border-radius: 30px;
    height: 430px;
}

.second-button {
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(rgb(207, 14, 14), rgb(235, 52, 82));
    border-radius: 20px;
    font-weight: 600;
    padding: 8px 30px;
    font-size: 14px;
}

.container {
    width: 1165px;
    padding-left: 7%;
}

.timing-area {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    text-align: center;
}

.half-width-1 img {
    width: 50%;

}

#count_section {
    margin: 5%;
    box-shadow: 4px 4px 20px #696969;
    border-radius: 15px;
}

.count-boxes {
    display: flex;
}

.count-box {
    width: 30%;
    text-align: center;
}

.foter-area {
    background-color: #f0e8e9;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: 'Yusei Magic', sans-serif;
}

.hide {
    display: none;
}


/* responsive meadia queary*/
/* mobile devices*/
@media screen and (max-width:576px) {
    .flexible-container {
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: auto;
    }

    .foter-area {
        margin-bottom: 0%;
    }

    .count-boxes {
        flex-direction: column;
    }

    .count-box {
        align-items: center;
        width: auto;
    }

    .timing-area {
        background-image: none;
    }

    .half-width-1 img {
        width: 300px;

    }

    .container {
        width: auto;
        padding: 0;
    }

    .all-boxes {
        flex-direction: column;
        gap: 20px;
    }

    .box {
        width: auto;
    }

    .half-width {
        width: auto;
        margin-bottom: 20px;
    }

    .half-width img {
        width: 320px;
    }

    #about-area {
        background-size: 100%;
    }
}