body {
    font-family: "Kanit", sans-serif;
}

.colored {
    color: rgb(226, 7, 7);
}

h1 {
    font-size: 50px;
}

.button {
    padding: 10px 40px;
    background-image: linear-gradient(to right, #D51E24, #EB6076);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.flexible-container {
    display: flex;
}

#about-area {
    background-image: url(images/shapes/Group\ 8447.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#second-background {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.middle {
    text-align: center;
    padding-bottom: 40px;
    width: 80%;
    padding-left: 10%;
}